.logo-container {
  z-index: 0;
  width: 50%;
  // height: 30%;
  opacity: 0;
  position: absolute;
  top: 0%;
  right: 10%;
  bottom: 2%;
  left: auto;
  margin: auto;

  // TODO: replace these logos with svg of pen plotting my name

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(180deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 50%;
    opacity: 0;
    transform: rotateZ(30deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ff9900;
  stroke-width: 10;
}
